<div id="flashcontent">Please enable javascript to load the world</div>
<script type="text/javascript">

var flashvars = {
  #"base.url": "<%= @world.asset_uri %>"
  "base.url": "/"
};

var params = {
  menu: "false",
  wmode: "transparent",
  allowScriptAccess:"always"
};

swfobject.embedSWF("<%= @world.includes_platform_swf? ? @world.platform_swf_uri : "/flash/platform.swf" %>", "flashcontent", "100%", "100%", "10.0.0", "swf/expressInstall.swf", flashvars, params);

</script>