<%= @world.author%>,

<p>Congratualations on making a world with Dubit world creator. We've stored your world online at <%= link_to "Dubit World Hub", manage_world_url(@world) %>. Go and explore!</p>

<p>
	Regards,<br />
	The Dubit Team
</p>