html, body, table {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', Tahoma, sans-serif;
	color: #5F5F5F;
	background-color: #E1E1E1;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: black;
	font-size: 1.6em;
	line-height: 1.3em;
	padding: 20px 0;
	margin: 0;
}

p {
	margin-top:5px;
	padding-top:5px;
}

a,
a:active,
a:visited {
	color: #00113B;
	text-decoration: underline;
}

a:hover {
	color: #7A3838;
}

/* Header */
#header {
	background-image: url('http://dubitplatform.com/storage/Dubit%20Virtual%20World%20Platform.jpg');
	background-repeat: no-repeat;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 928px;
}

#header h1 {
	display: none;
}

/* Content */

#canvas {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 928px;
	overflow: hidden
}

#content {
	padding: 0 50px 50px 50px;
}

#footer {
	background-color: white;
	padding: 50px;
	border-top: 1px solid #E1E1E1;
	font-size: 11px;
}

#footer .column {
	width: 25%;
	float: left;
}

#footer .right {
	float: right;
}

#footer .column strong {
	font-weight: bolder;
	color: #737373;
}

#footer a,
#footer a:active,
#footer a:visited {
	color: #A6A6A6;
	text-decoration: none;
}

/* Forms */

label {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 3px;
	display: block;
}

form {
	background-color: #F2F2F2;
	padding: 15px;
}

input {
	
}

input.submit {
	margin-top: 30px;
}

label.error {
	display: inline;
	color: red;
	font-weight: normal;
}