<html>
	<head>
		<title>Dubit Multiplayer World Hub</title>
		<%= javascript_include_tag 'swfobject', 'jquery', 'jquery.validate', 'application' %>
		<%= stylesheet_link_tag 'reset', 'screen' %>
	</head>
	<body>
		<div id="header">
			<h1>Dubit Platform Multiplayer World Hub</h1>
		</div>
		<div id="canvas">
			<div id="content">
				<%= yield %>
			</div>
			<div id="footer">
				<div class="column">
					<strong>Dubit</strong>
					<ul style="padding:0;list-style-type: none;margin:0px;">
						<li>
							<a style="color:#A6A6A6;" href="/about/">About</a>
						</li>
						<li>
							<a style="color:#A6A6A6;" href="/contact/">Contact</a>
						</li>
						<li>
							<a style="color:#A6A6A6;" href="/showcase/">Showcase</a>
						</li>
						<li>
							<a style="color:#A6A6A6;" href="http://www.dubitlimited.com/research/">Research</a>
						</li>
						<li>
							<a style="color:#A6A6A6;" href="http://www.dubitlimited.com/creative/">Marketing</a>
						</li>
					</ul>
				</div>
				<div class="column">
					<strong>Product</strong>
					<ul style="padding:0;list-style-type: none;margin:0px;">
						<li>
							<a style="color:#A6A6A6;" href="/platform/">Dubit Platform</a>
						</li>
						<li>
							<a style="color:#A6A6A6;" href="/gaml/">GAML</a>
						</li>
						<li>
							<a style="color:#A6A6A6;" href="/packages/">Packages</a>
						</li>
						<li>
							<a style="color:#A6A6A6;" href="/downloads/">Downloads</a>
						</li>
					</ul>
				</div>
				<div class="column">
					<strong>Resources</strong>
					<ul style="padding:0;list-style-type: none;margin:0px;">
						<li>
							<a style="color:#A6A6A6;" href="http://dubitplatform.com/blog/2009/8/31/template-virtual-world-or-freemium-business-model-spreadshee.html">Template Business Model</a>
						</li>
						<li>
							<a style="color:#A6A6A6;" href="http://dubitplatform.com/blog/2009/5/19/what-do-players-do-in-your-world.html">7 Player Archetypes</a>
						</li>
						<li>
							<a style="color:#A6A6A6;" href="http://dubitplatform.com/blog/2009/7/18/what-is-a-scripting-language-and-why-do-virtual-worlds-need.html">Scripting Languages</a>
						</li>
						<li>
							<a style="color:#A6A6A6;" href="/blog/">Blog</a>
						</li>
					</ul>
				</div>
				<div class="column right">
					<p>
						The Half Roundhouse<br>
						Roundhouse Business Park<br>
						Wellington Road<br>
						Leeds<br>
						LS12 1DR
					</p>
					<p>
						t: 0113 3947920<br>
						e: <a style="color:#A6A6A6;" href="mailto:matthew@dubitlimited.com">matthew@dubitlimited.com</a>
					</p>
				</div>
			</div>

		</div>
	</body>
</html>