<html>
	<head>
		<title>Dubit Multiplayer World Hub</title>
		<%= javascript_include_tag 'swfobject', 'jquery', 'jquery.validate', 'jquery.uploadify', 'application' %>
		<%= stylesheet_link_tag 'reset', 'screen', 'uploadify' %>
		<%= yield :head %>
	</head>
	<body>
		<div id="header">
			<h1>Dubit Platform Multiplayer World Hub</h1>
		</div>
		<div id="canvas">
			<div id="content">
				<%= yield %>
			</div>
			<div id="footer">
				<div class="column">
					<strong>Dubit</strong>
					<ul style="padding:0;list-style-type: none;margin:0px;">
						<li>
							<a style="" href="http://www.dubitplatform.com/about/">About</a>
						</li>
						<li>
							<a href="http://www.dubitplatform.com/contact/">Contact</a>
						</li>
						<li>
							<a href="http://www.dubitplatform.com/showcase/">Showcase</a>
						</li>
						<li>
							<a href="http://www.dubitlimited.com/research/">Research</a>
						</li>
						<li>
							<a href="http://www.dubitlimited.com/creative/">Marketing</a>
						</li>
					</ul>
				</div>
				<div class="column">
					<strong>Product</strong>
					<ul style="padding:0;list-style-type: none;margin:0px;">
						<li>
							<a href="http://www.dubitplatform.com/platform/">Dubit Platform</a>
						</li>
						<li>
							<a href="http://www.dubitplatform.com/gaml/">GAML</a>
						</li>
						<li>
							<a href="http://www.dubitplatform.com/packages/">Packages</a>
						</li>
						<li>
							<a href="http://www.dubitplatform.com/downloads/">Downloads</a>
						</li>
					</ul>
				</div>
				<div class="column">
					<strong>Resources</strong>
					<ul style="padding:0;list-style-type: none;margin:0px;">
						<li>
							<a href="http://api.dubitplatform.com/v1.0/">Dubit Platform Documentation</a>
						</li>
					</ul>
				</div>
				<div class="column right">
					<p>
						The Half Roundhouse<br>
						Roundhouse Business Park<br>
						Wellington Road<br>
						Leeds<br>
						LS12 1DR
					</p>
					<p>
						t: 0113 3947920<br>
						e: <a href="mailto:matthew@dubitlimited.com">matthew@dubitlimited.com</a>
					</p>
				</div>
			</div>

		</div>
	</body>
</html>