<html>
	<head>
		<title>Dubit Multiplayer World Hub</title>
		<%= javascript_include_tag 'swfobject' %>
		<%= stylesheet_link_tag 'reset', 'screen' %>
	</head>
	<body>
		<div id="header">
			<h1>Dubit Platform Multiplayer World Hub</h1>
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</body>
</html>