<html>
	<head>
		<title>Dubit Multiplayer World Hub</title>
		<%= javascript_include_tag 'swfobject' %>
		<%= stylesheet_link_tag 'reset', 'screen' %>
	</head>
	<body>
			<%= yield %>
	</body>
</html>